{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}
                 io.github.slipset/deps-deploy {:sha "d1fac08888ec8beda0579d3071bb9f804a1d446c"}}
          :ns-default build}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.5.0"}
                          org.slf4j/slf4j-simple {:mvn/version "1.7.36"} ;; to rid ourselves of logger warnings
                          }
             :main-opts ["-m" "antq.core" "--ignore-locals"]}}}
