{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}}

 :aliases
 {:jar
  {:extra-deps {seancorfield/depstar {:mvn/version "1.1.116"}}
   :main-opts ["-m" "hf.depstar.jar"]}

  :update-pom
  {:extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}
   :main-opts ["-m" "garamond.main" "--pom" "--force-version"]}

  :install-local
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.0"}
                org.slf4j/slf4j-simple {:mvn/version "1.7.30"} }
   :main-opts ["-m" "deps-deploy.deps-deploy" "install"]}

  ;; environment variables must be set for deploy to clojars:
  ;; - CLOJARS_USERNAME=username
  ;; - CLOJARS_PASSWORD=clojars-token
  :deploy-to-clojars
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.0"}
                org.slf4j/slf4j-simple {:mvn/version "1.7.30"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"]}}}
