{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.5.1102"}
                          org.slf4j/slf4j-simple {:mvn/version "2.0.7"} ;; to rid ourselves of logger warnings
                          }
             :main-opts ["-m" "antq.core" "--ignore-locals"]}}}
